body {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    font-size: large;
}

.color {
    border: 1px solid black;
    height: 50px;
    width: 50px;
    display: inline-block;
}

.pixel {
    width: 40px;
    height: 40px;
    border: 1px solid black;
    background-color: white;
    display: inline-block;
}

.selected {
    outline: 1px red;
    outline-offset: 1px;
    outline-style: solid;
}

.coluna {
    height: 40px;
}
